<!DOCTYPE html>
<html>
  <head>
    <title>MovieRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <%#<div class="bg">
   <%# <%= image_tag("logo.jpg",width: '150px')%>

    <%#<%= image_tag("movielogo.jpg",width: '500px')%>

    <%= yield %>
    <%#</div>%>
  </body>
</html>
